
@{
    ViewBag.Title = "PatientsShow";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>


<style>
    .button {
        display: inline-block;
        padding: 15px 25px;
        font-size: 24px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #4CAF50;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
    }

        .button:hover {
            background-color: #3e8e41
        }

        .button:active {
            background-color: #3e8e41;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }

    .form-control {
        display: block;
        width: 250px;
        height: 50px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555555;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    table {
        border-collapse: collapse;
        margin: 0 auto;
        text-align: center;
    }

        table td, table th {
            border: 1px solid #cad9ea;
            color: #666;
            height: 30px;
        }

        table thead th {
            background-color: #CCE8EB;
            width: 100px;
        }

        table tr:nth-child(odd) {
            background: #fff;
        }

        table tr:nth-child(even) {
            background: #F5FAFA;
        }

    /*删除按钮css样式*/

    .info-close {
        /*position: fixed;*/
        right: calc(50% - 10px);
        width: 30px;
        height: 30px;
        background: #ff0000;
        opacity: .6;
        border-radius: 25px;
        cursor: pointer;
        z-index: 2002;
    }

        .info-close:before {
            position: absolute;
            content: '';
            width: 20px;
            height: 2px;
            background: white;
            transform: rotate(45deg);
            top: 14px;
            left: 5px;
        }

        .info-close:after {
            content: '';
            position: absolute;
            width: 20px;
            height: 2px;
            background: white;
            transform: rotate(-45deg);
            top: 14px;
            left: 5px;
        }
</style>
<br />
<div>
    <div style="float:left;margin-top:1%;margin-left:5%">会员类型：</div>
    <div style="float:left;margin-left:20px;margin-right:40px">
        <select id="Select1" class="form-control"></select>
    </div>
    <div style="float:left;margin-top:1% ">就诊时间：</div>
    <div style="float:left;margin-left:20px;margin-right:40px">
        <input id="time" type="date" class="form-control" onclick="WdatePicker()" />
    </div>
    <div style="float:left">
        <input id="name" type="text" class="form-control" placeholder="请输入患者姓名" />
    </div>
    <div style="float:left;margin-left:40px;margin-right:40px">
        <input id="Button1" type="button" value="查询" style="margin-top:30%" class="btn-success" onclick="Select()" />
    </div>
    <div style="float:left">
        <input id="Button1" type="button" value="新增患者" style="margin-top:20%" class="btn-success" onclick="location.href='/Patients/PatientsAdd'" />
    </div>
</div>
<table class="table">
    <thead class="text-center">
        <tr style="background:#CCE8EB">
            <td><b>序号</b></td>
            <td><b>患者姓名</b></td>
            <td><b>性别</b></td>
            <td><b>年龄</b></td>
            <td><b>手机号码</b></td>
            <td><b>会员等级</b></td>
            <td><b>挂号时间</b></td>
            <td><b>操作</b></td>
        </tr>
    </thead>
    <tbody id="tb"></tbody>
</table>
<td>总记录数<span id="TotalCount"></span>条</td>
<td>总共<span id="TotalPage"></span>页</td>
<td>当前第<span id="CurrentPage"></span>页</td>
<td><input id="Button1" class="info-close" type="button" style="color:#000000" value="☀" onclick="Select(1)" /></td>
<td><input id="Button1" class="info-close" type="button" style="color:#000000" value="<<" onclick="Select(CurrentPage-1)" /></td>
<td><input id="Button1" class="info-close" type="button" style="color:#000000" value=">>" onclick="Select(CurrentPage+1)" /></td>
<td><input id="Button1" class="info-close" type="button" style="color:#000000" value="☾" onclick="Select(TotalPage)" /></td>

<script>
    var TotalPage = 1;
    var CurrentPage = 1;
    $(function () {
        Select();
        VIP();
    })
    //会员等级
    function VIP() {
        $.ajax({
            url: "http://localhost:65510/api/BrandSetting/Get/",
            type: "get",
            success: function (d) {
                $("#Select1").empty();
                $("#Select1").append("<option value=''>==请选择==</option>");
                $(d).each(function () {
                    var opt = '<option value="' + this.SettingId + '">' + this.SettingGrade + '</option>';
                    $("#Select1").append(opt);
                })
            }
        })
    }
    //显示患者信息
    function Select(page) {
        //获取查询条件
        var obj = { index: page, PageSize: 5 };
        obj.name = $("#name").val();
        obj.VIP = $("#Select1").val();
        obj.time = $("#time").val();
        $.ajax({
            url: "http://localhost:65510/api/Patients/Get/",
            type: "get",
            data: obj,
            success: function (d) {
                CurrentPage = d.CurrentPage;
                TotalPage = d.TotalPage;
                $("#TotalCount").html(d.TotalCount);
                $("#TotalPage").html(d.TotalPage);
                $("#CurrentPage").html(d.CurrentPage);
                $("#tb").empty();
                $(d.patients).each(function () {
                    var line = '<tr>' +
                        '<td>' + this.Id + '</td>' +
                        '<td>' + this.PatientName + '</td>' +
                        '<td>' + this.SexName + '</td>' +
                        '<td>' + this.PatientAge + '</td>' +
                        '<td>' + this.PatientPhone + '</td>' +
                        '<td>' + this.SettingGrade + '</td>' +
                        '<td>' + this.RegistrationTime + '</td>' +
                        '<td>' + '<a href=/Patients/PatientsUpdate/' + this.Id + '>编辑<a/>' + '&nbsp;&nbsp; ' + '<a href=/Probably/JieZhen/' + this.Id + '>接诊<a/>' + '&nbsp;&nbsp;' + '<a href="javascript:;" onclick="Delete(' + this.Id + ')">删除<a/>' + '</td > '
                        + '</tr>';
                    $("#tb").append(line);
                })
            }
        })
    }
    function Delete(id) {
        if (confirm("患者信息删除后无法恢复，确定删除吗？")) {
            $.ajax({
                url: "http://localhost:65510/api/Patients/Delete/" + id,
                type: "post",
                data: { id: id },
                success: function (d) {
                    if (d > 0) {
                        alert("删除成功！");
                        Select();
                    }
                    else {
                        alert("删除失败！");
                    }
                }
            })
        }
    }
</script>