
@{
    ViewBag.Title = "Show";
}


<style>
    /*div布局*/
    body {
        /*background-color: LightBlue;*/
        font-family: Verdana;
        font-size: 13px;
    }

    .divHeaderTable {
        width: 100%;
        padding-bottom: 5px;
        display: block;
    }

    .divHeaderRow {
        width: 100%; /* add extra that you want to for header column */
        display: block;
        height: 105px;
    }

    .divHeaderColumn {
        float: left;
        width: 33%;
        display: block;
    }

    .divTable {
        width: 100%;
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .divRow {
        width: 99%;
        display: block;
        padding-bottom: 5px;
    }

    .divColumn {
        float: left;
        width: 24%;
        display: block;
    }

    .form-control {
        display: block;
        width: 250px;
        height: 50px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555555;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    .button {
        display: inline-block;
        padding: 15px 25px;
        font-size: 24px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #3c00ff;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
    }

        .button:hover {
            background-color: #3e8e41
        }

        .button:active {
            background-color: #3e8e41;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }

    table {
        border-collapse: collapse;
        margin: 0 auto;
        text-align: center;
    }

        table td, table th {
            border: 1px solid #cad9ea;
            color: #666;
            height: 30px;
        }

        table thead th {
            background-color: #CCE8EB;
            width: 100px;
        }

        table tr:nth-child(odd) {
            background: #fff;
        }

        table tr:nth-child(even) {
            background: #F5FAFA;
        }

    .black_overlay {
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index: 1001;
        /*-moz-opacity: 0.8;*/
        opacity: .80;
        filter: alpha(opacity=88);
    }

    .white_content {
        display: none;
        position: absolute;
        top: 25%;
        left: 25%;
        width: 55%;
        height: 55%;
        padding: 20px;
        border: 10px solid orange;
        background-color: white;
        z-index: 1002;
        overflow: auto;
    }
</style>

<div style="margin-left:1000px">
    <input id="Button1" style="width:100px" type="button" value="保存" class="btn btn-primary" onclick="PatientsAdd()" />
    <input id="Button2" style="width:100px" type="button" value="返回" class="btn btn-default" onclick="location.href='/Patients/PatientsShow'" />
</div>

<div>
    <div id="divHeader" class="divHeaderTable">
        <h1 style="color:blue;margin-left: 40px">患者信息</h1>
    </div>
    <div id="content" class="divTable">
        <div class="divRow">
            <div class="divColumn">
                <div>
                    <label id="lblSolutation"> 患者姓名</label>
                </div>
                <div>
                    <input id="Name" type="text" class="form-control" placeholder="请填写患者姓名" />
                </div>
            </div>
            <div class="divColumn">
                <div>
                    <label id="lblFname"> 患者卡号</label>
                </div>
                <div>
                    <input id="Card" type="text" class="form-control" placeholder="请输入病人卡号" />
                </div>
            </div>
            <div class="divColumn">
                <div>
                    <label id="lblMname">患者年龄</label>
                </div>
                <div>
                    <input id="Age" type="text" class="form-control" placeholder="请输入数字" />
                </div>
            </div>
            <div class="divColumn">
                <div>
                    <label id="lblLname"> 出生日期</label>
                </div>
                <div>
                    <input id="Birthday" type="date" class="form-control" />
                </div>
            </div>
        </div>
        <div class="divRow">
            <div class="divColumn">
                <div>
                    <label id="Label9"> 性别</label>
                </div>
                <div>
                    <select id="Sex" class="form-control"></select>
                </div>

            </div>
            <div class="divColumn">
                <div>
                    <label id="Label7"> 手机号码</label>
                </div>
                <div>
                    <input id="Phone" class="form-control" type="text" placeholder="请输入手机号码" />
                </div>
            </div>
            <div class="divColumn">
                <div>
                    <label id="Label8"> 证件号码</label>
                </div>
                <div>
                    <input id="Number" type="text" class="form-control" placeholder="请输入证件号码" />
                </div>
            </div>
            <div class="divColumn">
                <div>
                    <label id="Label8"> 患者来源</label>
                </div>
                <div>
                    <select id="PatientSource" class="form-control">
                        <option>亲朋介绍</option>
                        <option>自己找的</option>
                        <option>报纸</option>
                        <option>网络</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="divRow">
            <div class="divColumn">
                <div>
                    <label id="Label9"> 会员类型</label>
                </div>
                <div>
                    <select id="VIPTypeId" class="form-control"></select>
                </div>

            </div>
            <div class="divColumn">
                <div>
                    <label id="Label7"> 挂号时间</label>
                </div>
                <div>
                    <input id="RegistrationTime" class="form-control" type="date" />
                </div>
            </div>
            <div class="divColumn">
                <div>
                    <label id="Label8"> 民族</label>
                </div>
                <div>
                    <input id="Ethnic" class="form-control" type="text" placeholder="请输入民族" />
                </div>
            </div>
            <div class="divColumn">
                <div>
                    <label id="Label8"> 婚姻状况</label>
                </div>
                <div>
                    <select id="MaritalStatus" class="form-control">
                        <option>==请选择==</option>
                        <option>已婚</option>
                        <option>未婚</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="divRow">
            <div class="divColumn">
                <div>
                    <label id="Label9"> 学历</label>
                </div>
                <div>
                    <select id="Education" class="form-control">
                        <option>小学</option>
                        <option>初中</option>
                        <option>高中</option>
                        <option>大专</option>
                        <option>本科</option>
                        <option>研究生</option>
                        <option>博士生</option>
                    </select>
                </div>

            </div>
            <div class="divColumn">
                <div>
                    <label id="Label8"> 地址</label>
                </div>
                <div>
                    <input id="Address" type="text" class="form-control" placeholder="请输入详细地址" />
                </div>
            </div>
            <div class="divColumn">
                <div>
                    <label id="Label8"> 备注</label>
                </div>
                <div>
                    <input id="Remark" class="form-control" type="text" />
                </div>
            </div>
        </div>
    </div>
</div>

    
