<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    @*<link href="CSS/StyleSheet.css" rel="Stylesheet" type="text/css" />*@
</head>
<body>
    <div style="width:99%; height:565px;">
        <div id="divHeader" class="divHeaderTable">
            <h1 style="color:blue;margin-left: 40px">基本信息</h1>
        </div>
        <div id="content" class="divTable">
            <div class="divRow">
                <div class="divColumn">
                    <div>
                        <label id="lblSolutation"> 药品编码</label>
                    </div>
                    <div>
                        <input type="text" id="DrugNumber" class="form-control" />
                    </div>
                </div>
                <div class="divColumn">
                    <div>
                        <label id="lblFname"> 药品通用名</label>
                    </div>
                    <div>
                        <input type="text" id="DrugName" class="form-control" />
                    </div>
                </div>
                <div class="divColumn">
                    <div>
                        <label id="lblMname">药品分类</label>
                    </div>
                    <div>
                        <select id="DrugTypeName" style="width: 250px;height: 50px;">
                            <option></option>
                        </select>
                        <input id="Button1" style="width:40px;background-color:cyan" type="button" value="+" onclick="DrugTypeAdd(1)" />
                    </div>
                </div>
                <div class="divColumn">
                    <div>
                        <label id="lblLname"> 药品规格</label>
                    </div>
                    <div>
                        <input type="text" id="Specification" style="height:55px" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="divRow">
                <div class="divColumn">
                    <div>
                        <label id="Label10"> 采药价格</label>
                    </div>
                    <div>
                        <input type="text" id="DrugPrice" class="form-control" />
                    </div>
                </div>
                <div class="divColumn">
                    <div>
                        <label id="Label9"> 药品售价</label>
                    </div>
                    <div>
                        <input type="text" id="DrugSelling" class="form-control" />
                    </div>

                </div>
                <div class="divColumn">
                    <div>
                        <label id="Label7"> 生产厂家</label>
                    </div>
                    <div>
                        <select id="ManufacturersName" style="width: 250px;height: 50px;">
                            <option></option>
                        </select>
                        <input id="Button1" style="width:40px;background-color:cyan" type="button" value="+" onclick="Manufacturers(1)" />
                    </div>
                </div>
                <div class="divColumn">
                    <div>
                        <label id="Label8"> 创建时间</label>
                    </div>
                    <div>
                        <input id="DrugCreateTime" class="form-control" style="height:60px" type="date" />
                    </div>
                </div>
            </div>
            <div class="divRow">
                <div class="divColumn">
                    <div>
                        <label id="Label2"> 库存下线</label>
                    </div>
                    <div>
                        <input type="text" id="InventoryLowerLimit" class="form-control" />
                    </div>
                </div>
                <div class="divColumn">
                    <div>
                        <label id="Label4"> 库存上限</label>
                    </div>
                    <div>
                        <input type="text" id="InventoryUpperLimit" class="form-control" />
                    </div>
                </div>
                <div class="divColumn">
                    <div>
                        <label id="Label5"> 药品说明</label>
                    </div>
                    <div>
                        <input type="text" id="DrugContent" class="form-control" />
                    </div>
                </div>
                <div class="divColumn">
                    <div class="divColumn">
                        <div>
                            <label id="Label6">药品数量</label>
                        </div>
                        <div>
                            <input type="text" id="DrugCount" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="divRow">
                <div class="divColumn">
                    <div>
                        <label id="Label6">药品状态</label>
                    </div>
                    <div>
                        <input id="Radio1" type="radio" name="DrugStatus" />启用
                        <input id="Radio2" type="radio" name="DrugStatus" />禁用
                    </div>
                </div>
            </div>
            <br />
            <div class="divRow">
                <input id="Button1" type="button" class="button" value="编辑药品" onclick="DrugUpt()" />
            </div>
        </div>
    </div>
    <div style="text-align:center; background-color:aqua;">欢迎登陆医院系统</div>

    <div id='inputbox' class="box">
        <a class='x' href='' ;=; onclick="DrugTypeAdd(0); return false;">关闭</a>
        <input type="text" id="name" />
        <input type="button" value="确定" onclick="DrugTypeAdd1()" />
    </div>


    <div id='inputbox1' class="box">
        <a class='x' href='' ;=; onclick="Manufacturers(0); return false;">关闭</a>
        <input type="text" id="name1" />
        <input type="button" value="确定" onclick="ManufacturersAdd1()" />
    </div>
</body>
</html>



<style>
    body {
        /*background-color: LightBlue;*/
        font-family: Verdana;
        font-size: 13px;
    }

    .divHeaderTable {
        width: 100%;
        padding-bottom: 5px;
        display: block;
    }

    .divHeaderRow {
        width: 100%; /* add extra that you want to for header column */
        display: block;
        height: 105px;
    }

    .divHeaderColumn {
        float: left;
        width: 33%;
        display: block;
    }

    .divTable {
        width: 100%;
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .divRow {
        width: 99%;
        display: block;
        padding-bottom: 5px;
    }

    .divColumn {
        float: left;
        width: 24%;
        display: block;
    }

    .form-control {
        display: block;
        width: 250px;
        height: 50px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555555;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    .button {
        display: inline-block;
        padding: 15px 25px;
        font-size: 24px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #4CAF50;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
    }

        .button:hover {
            background-color: #3e8e41
        }

        .button:active {
            background-color: #3e8e41;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }

    .box {
        width: 500px;
        margin-top: 10%;
        margin: auto;
        padding: 28px;
        height: 350px;
        border: 1px #111 solid;
        display: none; /* 默认对话框隐藏 */
        background-color: antiquewhite;
    }

        .box.show {
            display: block;
            position: relative;
        }

        .box .x {
            font-size: 18px;
            text-align: right;
            display: block;
        }

        .box input {
            width: 80%;
            font-size: 18px;
            margin-top: 18px;
        }
</style>

@section scripts{
    <script>
        $(function () {

            DrugTypeBandsel();

        });
        //药品分类绑定
        function DrugTypeBandsel() {
            $.ajax({
                url: 'http://localhost:65510/api/DrugType/Get',
                type: 'get',
                dataType: 'json',
                success: function (d) {
                    $("#DrugTypeName").empty();
                    $("#DrugTypeName").append("<option value=''>==请选择==</option>");
                    $(d).each(function () {
                        var opt = "<option value='" + this.Id + "'>" + this.DrugTypeName + "</option>";
                        $("#DrugTypeName").append(opt);
                    })
                    ManufacturersBandsel();
                }
            })
        }
        function ManufacturersBandsel() {
            $.ajax({
                url: 'http://localhost:65510/api/Manufacturers/Get',
                type: 'get',
                dataType: 'json',
                success: function (d) {
                    $("#ManufacturersName").empty();
                    $("#ManufacturersName").append("<option value=''>==请选择==</option>");
                    $(d).each(function () {
                        var opt = "<option value='" + this.Id + "'>" + this.ManufacturersName + "</option>";
                        $("#ManufacturersName").append(opt);
                    })
                    DrugFill();
                }
            })
        }
        //反填药品

        function DrugFill() {
            $.ajax({
                url: 'http://localhost:65510/api/Drug/Get/' +@ViewContext.RouteData.Values["id"],
                type: 'get',
                dataType: 'json',
                success: function (d) {
                    $("#DrugNumber").val(d.DrugNumber);
                    $("#DrugName").val(d.DrugName);
                    $("#DrugPrice").val(d.DrugPrice);
                    $("#DrugSelling").val(d.DrugSelling);
                    $("#ManufacturersName").val(d.ManufacturersId);
                    if (d.DrugStatus) {
                        Radio1.checked = true;
                    }
                    else {
                        Radio2.checked = true;
                    }
                    $("#DrugCreateTime").val(d.DrugCreateTime);
                    $("#DrugTypeName").val(d.DrugTypeId);
                    $("#Specification").val(d.Specification);
                    $("#InventoryUpperLimit").val(d.InventoryUpperLimit);
                    $("#InventoryLowerLimit").val(d.InventoryLowerLimit);
                    $("#DrugContent").val(d.DrugContent);
                    $("#DrugCount").val(d.DrugCount);
                }
            })
        }
        //修改药品
        function DrugUpt()
        {
            var id=@ViewContext.RouteData.Values["id"];
            var obj = {};
            obj.Id = id;
            obj.DrugNumber = $("#DrugNumber").val();
            obj.DrugName = $("#DrugName").val();
            obj.DrugPrice = $("#DrugPrice").val();
            obj.DrugSelling = $("#DrugSelling").val();
            obj.ManufacturersId = $("#ManufacturersName").val();
            obj.DrugStatus = $("#Radio1").prop("checked");
            obj.DrugCreateTime = $("#DrugCreateTime").val();
            obj.DrugTypeId = $("#DrugTypeName").val();
            obj.DrugCount = $("#DrugCount").val();

            obj.Specification = $("#Specification").val();
            obj.InventoryUpperLimit = $("#InventoryUpperLimit").val();
            obj.InventoryLowerLimit = $("#InventoryLowerLimit").val();
            obj.DrugContent = $("#DrugContent").val();

            $.ajax({
                url: 'http://localhost:65510/api/Drug/Put',
                type: 'post',
                data: obj,
                dataType: 'json',
                success: function (d) {
                    if (d > 0) {
                        alert('编辑药品成功');
                        location.href = '/Drug/DrugShow';
                    }
                    else {
                        alert('编辑药品失败');
                    }
                }
            })
        }


        //弹出药品类型输入框
        function DrugTypeAdd(n) {
            document.getElementById('inputbox').style.display = n ? 'block' : 'none';     /* 点击按钮打开/关闭 对话框 */

        }
        //弹出药品生产地址框
        function Manufacturers(a) {
            document.getElementById('inputbox1').style.display = a ? 'block' : 'none';     /* 点击按钮打开/关闭 对话框 */

        }
        function DrugTypeAdd1() {
            var obj = {};
            obj.DrugTypeName = $("#name").val();
            $.ajax({
                url: 'http://localhost:65510/api/DrugType/Post',
                type: 'post',
                data: obj,
                dataType: 'json',
                success: function (d) {
                    if (d > 0) {
                        alert('输入成功');
                        location.href = '/Drug/DrugAdd';
                    }
                    else {
                        alert('输入失败');
                    }
                }
            })
        }
        function ManufacturersAdd1() {
            var obj = {};
            obj.ManufacturersName = $("#name1").val();
            $.ajax({
                url: 'http://localhost:65510/api/Manufacturers/Post',
                type: 'post',
                data: obj,
                dataType: 'json',
                success: function (d) {
                    if (d > 0) {
                        alert('输入成功');
                        location.href = '/Drug/DrugAdd';
                    }
                    else {
                        alert('输入失败');
                    }
                }
            })
        }


    </script>
}


