<!DOCTYPE html>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/layui-v2.5.6/layui-v2.5.6/layui/layui.js"></script>
<link href="~/layui-v2.5.6/layui-v2.5.6/layui/css/layui.css" rel="stylesheet" />
<html>
<body>
    <div class="body-content" style="width:2342px;height:1175px;  background-image:url(../../tu.jpg);background-repeat:no-repeat;background-size:cover">

        <div class="layui-tab layui-tab-brief" lay-filter="demo" style="width:800px;height:200px;font-size:30px;margin-left:750px">
            <ul class="layui-tab-title">
                <li class="layui-this">健康生活小技巧</li>
                <li>日期</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <div class="layui-carousel" id="test1">
                        <div carousel-item>
                            <div><p class="layui-bg-green demo-carousel">茶叶中含有一种丰富的微量元素——锰，可防止皮肤干燥，从而减轻或免除皮肤的瘙痒感，使你免受冬痒之苦</p></div>
                            <div><p class="layui-bg-red demo-carousel">巧用牙膏:若有小面积皮肤损伤或烧伤、烫伤，抹上少许牙膏，可立即止血止痛，也可防止感染，疗效颇佳</p></div>
                            <div><p class="layui-bg-blue demo-carousel">粉刺、祛痘土豆片敷点脸上，土豆片有消炎的功效</p></div>
                            <div><p class="layui-bg-orange demo-carousel">狐臭腋臭可取生姜30g，切碎，浸于一般的医用酒精中，封瓶1周后提取滤液，瓶装备用。用棉签或棉球蘸滤液搽于腋窝处，每天2-3次，连搽1个月</p></div>
                            <div><p class="layui-bg-cyan demo-carousel">男子剃须时，可用牙膏代替肥皂，由于牙膏不含游离碱，不仅对皮肤无刺激，而且泡沫丰富，气味清香，使人有清凉舒爽之感</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style=" width: 200px; height: 800px; float:left;">
            <div class="container">
                <div class="navbar-collapse collapse">
                    <ul class="layui-nav layui-nav-tree site-demo-nav" lay-filter="demo" style="margin-right: 10px; ">
                        <li class="layui-nav-item">
                            <a href="javascript:;">登录</a>
                            <dl class="layui-nav-child">
                                <dd><a href="">请问请问</a></dd>
                                <dd><a href="">后台模版</a></dd>
                                <dd><a href="">电商平台</a></dd>
                            </dl>
                        </li>
                        <li class="layui-nav-item">
                            <a href="javascript:;">解决方案</a>
                            <dl class="layui-nav-child">
                                <dd><a href="">移动模块</a></dd>
                                <dd><a href="">后台模版</a></dd>
                                <dd><a href="">电商平台</a></dd>
                            </dl>
                        </li>
                        <li class="layui-nav-item">
                            <a href="javascript:;">解决方案</a>
                            <dl class="layui-nav-child">
                                <dd><a href="">移动模块</a></dd>
                                <dd><a href="">后台模版</a></dd>
                                <dd><a href="">电商平台</a></dd>
                            </dl>
                        </li>
                        <li class="layui-nav-item">
                            <a href="javascript:;">解决方案</a>
                            <dl class="layui-nav-child">
                                <dd><a href="">移动模块</a></dd>
                                <dd><a href="">后台模版</a></dd>
                                <dd><a href="">电商平台</a></dd>
                            </dl>
                        </li>
                        <li class="layui-nav-item">
                            <a href="javascript:;">解决方案</a>
                            <dl class="layui-nav-child">
                                <dd><a href="">移动模块</a></dd>
                                <dd><a href="">后台模版</a></dd>
                                <dd><a href="">电商平台</a></dd>
                            </dl>
                        </li>
                        <li class="layui-nav-item">
                            <a href="javascript:;">解决方案</a>
                            <dl class="layui-nav-child">
                                <dd><a href="">移动模块</a></dd>
                                <dd><a href="">后台模版</a></dd>
                                <dd><a href="">电商平台</a></dd>
                            </dl>
                        </li>
                        <li class="layui-nav-item">
                            <a href="javascript:;">解决方案</a>
                            <dl class="layui-nav-child">
                                <dd><a href="">移动模块</a></dd>
                                <dd><a href="">后台模版</a></dd>
                                <dd><a href="">电商平台</a></dd>
                            </dl>
                        </li>
                        <li class="layui-nav-item">
                            <a href="javascript:;">解决方案</a>
                            <dl class="layui-nav-child">
                                <dd><a href="">移动模块</a></dd>
                                <dd><a href="">后台模版</a></dd>
                                <dd><a href="">电商平台</a></dd>
                            </dl>
                        </li>
                        <li class="layui-nav-item">
                            <a href="javascript:;">解决方案</a>
                            <dl class="layui-nav-child">
                                <dd><a href="">移动模块</a></dd>
                                <dd><a href="">后台模版</a></dd>
                                <dd><a href="">电商平台</a></dd>
                            </dl>
                        </li>
                        <li class="layui-nav-item">
                            <a href="javascript:;">药品管理</a>
                            <dl class="layui-nav-child">
                                <dd><a href="/Drug/DrugShow">药品信息维护</a></dd>
                                <dd><a href="/Repertory/RepertoryShow">入库管理</a></dd>
                                <dd><a href="">电商平台</a></dd>
                            </dl>
                        </li>
                        <li class="layui-nav-item">
                            <a href="javascript:;">解决方案</a>
                            <dl class="layui-nav-child">
                                <dd><a href="">移动模块</a></dd>
                                <dd><a href="">后台模版</a></dd>
                                <dd><a href="">电商平台</a></dd>
                            </dl>
                        </li>
                        <li class="layui-nav-item">
                            <a href="javascript:;">解决方案</a>
                            <dl class="layui-nav-child">
                                <dd><a href="">移动模块</a></dd>
                                <dd><a href="">后台模版</a></dd>
                                <dd><a href="">电商平台</a></dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div style="width:1600px;height:1040px; float:left;">
            @RenderBody()
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use('element', function () {
        var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

        //监听导航点击
        element.on('nav(demo)', function (elem) {
            //console.log(elem)
            layer.msg(elem.text());
        });


    });
    layui.config({
        version: '1586046995289' //为了更新 js 缓存，可忽略
    });

    layui.use(['laydate', 'laypage', 'layer', 'table', 'carousel', 'upload', 'element', 'slider'], function () {
        var laydate = layui.laydate //日期
            , laypage = layui.laypage //分页
            , layer = layui.layer //弹层
            , table = layui.table //表格
            , carousel = layui.carousel //轮播
            , upload = layui.upload //上传
            , element = layui.element //元素操作
            , slider = layui.slider //滑块

        //向世界问个好
        layer.msg('欢迎来到医院管理系统');
        //执行一个轮播实例
        carousel.render({
            elem: '#test1'
            , width: '100%' //设置容器宽度
            , height: 150
            , arrow: 'none' //不显示箭头
            , anim: 'fade' //切换动画方式
        });


    });


</script>