
@{
    ViewBag.Title = "MenbShow";
}

<style>
    .form-control {
        display: block;
        width: 250px;
        height: 50px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555555;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    table {
        border-collapse: collapse;
        margin: 0 auto;
        text-align: center;
    }

        table td, table th {
            border: 1px solid #cad9ea;
            color: #666;
            height: 30px;
        }

        table thead th {
            background-color: #CCE8EB;
            width: 100px;
        }

        table tr:nth-child(odd) {
            background: #fff;
        }

        table tr:nth-child(even) {
            background: #F5FAFA;
        }

    /*删除按钮css样式*/

    .info-close {
        /*position: fixed;*/
        right: calc(50% - 10px);
        width: 30px;
        height: 30px;
        background: #ff0000;
        opacity: .6;
        border-radius: 25px;
        cursor: pointer;
        z-index: 2002;
    }

        .info-close:before {
            position: absolute;
            content: '';
            width: 20px;
            height: 2px;
            background: white;
            transform: rotate(45deg);
            top: 14px;
            left: 5px;
        }

        .info-close:after {
            content: '';
            position: absolute;
            width: 20px;
            height: 2px;
            background: white;
            transform: rotate(-45deg);
            top: 14px;
            left: 5px;
        }
</style>

<h2>
    <input id="Button1" class="btn btn-default" type="button" value="会员列表" onclick="location.href=' /Stu/MenberShow'" />
    <input id="Button1" class="btn btn-default" type="button" value="储值管理" onclick="location.href=' MenbeShow'" />
    <input id="Button1" class="btn btn-default" type="button" value="积分管理" onclick="location.href=' MenbShow'" />
    <input id="Button1" class="btn btn-default" type="button" value="会员设置" onclick="location.href=' SettingShow'" />
</h2>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

会员等级
<select id="selectTravelCity" title="Select Travel Destination" class=" btn btn-group-vertical">
</select>

<input id="name" type="text" placeholder="会员姓名" style="width: 900px; height: 50px; top: 110px; left: 950px; border-bottom-right-radius: 10px; border-bottom-left-radius: 10px; border-top-left-radius: 10px; border-top-right-radius: 10px;">
<input id="Submit1" type="submit" value="查找" class=" btn btn-primary" onclick="MenberShow(1)" style="width: 70px;height: 50px;top: 110px;left: 1250px" />
<body style="padding-top:100px;">
    <table class="table">
        <thead style="background:#a9c6c9">
            <tr>
                <th>序号</th>
                <th>卡号</th>
                <th>会员类型</th>
                <th>会员等级</th>
                <th>会员姓名</th>
                <th>手机号码</th>
                <th>积分</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="td">
        </tbody>
    </table>
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">积分变动</h4>
                </div>
                <br /><br />
                <input id="Button1" class="btn btn-default" type="button" value="增加积分" data-toggle='modal' data-target='#myModal1' data-dismiss="modal" aria-hidden="true" />
                <input id="Button2" class="btn btn-default" type="button" value="扣减积分" data-toggle='modal' data-target='#myModal2' data-dismiss="modal" aria-hidden="true" />
                <input id="Button3" class="btn btn-default" type="button" value="积分清零" data-toggle='modal' data-target='#myModal3' data-dismiss="modal" aria-hidden="true" />
                <br /><br />
                <div class="divColumn">
                    <div>
                        <label id="lblFname">增加积分</label>
                    </div>
                    <div>
                        <input type="text" id="textZeng" class="form-control" />
                    </div>
                </div>
                <br />
                <div class="divColumn">
                    <div>
                        <label id="lblFname">备注</label>
                    </div>
                    <div>
                        <textarea id="TextArea1" rows="2" cols="20" class="form-control"></textarea>
                        <input type="text" id="Pay" class="form-control" />
                    </div>
                </div>
                <br />
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="rcbtn" onclick="IntegralUpt()">确定</button>

            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">积分变动</h4>
                </div>
                <br /><br />
                <input id="Button1" class="btn btn-default" type="button" value="增加积分" data-toggle='modal' data-target='#myModal1' data-dismiss="modal" aria-hidden="true" />
                <input id="Button1" class="btn btn-default" type="button" value="扣减积分" data-toggle='modal' data-target='#myModal2' data-dismiss="modal" aria-hidden="true" />
                <input id="Button1" class="btn btn-default" type="button" value="积分清零" data-toggle='modal' data-target='#myModal3' data-dismiss="modal" aria-hidden="true" />
                <br /><br />
                <div class="divColumn">
                    <div>
                        <label id="lblFname">扣减积分</label>
                    </div>
                    <div>
                        <input type="text" id="textKou" class="form-control" />
                    </div>
                </div>
                <br />
                <div class="divColumn">
                    <div>
                        <label id="lblFname">备注</label>
                    </div>
                    <div>
                        <textarea id="TextArea1" rows="2" cols="20" class="form-control"></textarea>
                        <input type="text" id="Pay" class="form-control" />
                    </div>
                </div>
                <br />
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="rcbtn" onclick="IntegralKouUpt()">确定</button>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">积分变动</h4>
                </div>
                <br /><br />
                <input id="Button1" class="btn btn-default" type="button" value="增加积分" data-toggle='modal' data-target='#myModal1' data-dismiss="modal" aria-hidden="true" />
                <input id="Button1" class="btn btn-default" type="button" value="扣减积分" data-toggle='modal' data-target='#myModal2' data-dismiss="modal" aria-hidden="true" />
                <input id="Button1" class="btn btn-default" type="button" value="积分清零" data-toggle='modal' data-target='#myModal3' data-dismiss="modal" aria-hidden="true" />
                <br /><br />
                <div class="divColumn">
                    <div>
                        <label id="lblFname">备注</label>
                    </div>
                    <div>
                        <textarea id="TextArea1" rows="2" cols="20" class="form-control"></textarea>
                        <input type="text" id="Pay" class="form-control" placeholder="*清零后无法恢复，请谨慎操作" />
                    </div>
                </div>
                <br />
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="rcbtn" onclick=" Integraling()">确定</button>
            </div>
        </div>
    </div>

</body>
<td>总记录数<span id="TotalCount"></span>条</td>
<td>总共<span id="TotalPage"></span>页</td>
<td>当前第<span id="CurrentPage"></span>页</td>
<td><input id="Button1" class="info-close" type="button" style="color:#000000" value="☀" onclick="MenberShow(1)" /></td>
<td><input id="Button1" class="info-close" type="button" style="color:#000000" value="<<" onclick="MenberShow(CurrentPage-1)" /></td>
<td><input id="Button1" class="info-close" type="button" style="color:#000000" value=">>" onclick="MenberShow(CurrentPage+1)" /></td>
<td><input id="Button1" class="info-close" type="button" style="color:#000000" value="☾" onclick="MenberShow(TotalPage)" /></td>

    </div>
@section scripts{
    <script>
        $(function () {
            MenberShow();
            Bandla();
        })
        //绑定品牌下拉
        function Bandla() {
            $.ajax({
                url: "http://localhost:65510/api/BrandSetting/Get",
                type: "get",
                dataType: "json",
                success: function (d) {
                    //清空下拉框
                    $("#selectTravelCity").empty();
                    $("#selectTravelCity").append("<option value=0>全部</option>");
                    //拼接一个下拉项
                    $(d).each(function () {
                        var opt = "<option value=" + this.SettingId + ">" + this.SettingGrade + "</option>";
                        //将数据放入表格
                        $("#selectTravelCity").append(opt);
                    });
                    MenberShow(1)
                }
            })
        }
        //会员显示表
        function MenberShow(page) {
            var asd = {};
            asd.SettingGrade = $("#selectTravelCity").val();
            asd.MenberName = $("#name").val();
            asd.MenberCard = $("#name").val();
            asd.MenberPhone = $("#band").val();
            $.ajax({
                url: 'http://localhost:65510/api/Integral/Get',
                type: 'get',
                dataType: 'json',
                data: {
                    name: $("#name").val(), type: $("#type").val(), band: $("#band").val(), pricemin: $("#Pricemin").val(), pricemax: $("#Pricemax").val(), CurrentPage: page
                },
                success: function (d) {
                    $("#TotalCount").text(d.TotalCount)
                    $("#TotalPage").text(d.TotalPage)
                    $("#CurrentPage").text(d.CurrentPage)
                    //最大页
                    TotalPage = d.TotalPage;
                    //当前页
                    CurrentPage = d.CurrentPage;
                    //清空表格
                    $("#td").empty();
                    $(d.menbers).each(function () {
                        var line = '<tr>'
                            + '<td>' + this.MenberId + '</td>'
                            + '<td>' + this.MenberCard + '</td>'
                            + '<td>' + this.SettingGrade + '</td>'
                            + '<td>' + this.MenberType + '</td>'
                            + '<td>' + this.MenberName + '</td>'
                            + '<td>' + this.MenberPhone + '</td>'
                            + '<td>' + this.Integral + '</td>'
                            + '<td>' + "<a data-toggle='modal' data-target='#myModal1' onclick=GetId(" + this.MenberId + ")>积分变动</a>" + '</td>'
                            + '</tr>'
                        $("#td").append(line);
                    })
                }
            })
        }
        var Id = 0
        function GetId(MenberId) {
            Id = MenberId;

        }
        //添加积分
        function IntegralUpt() {
            var s = {
                id: Id,
                tui: $("#textZeng").val()
            }
            $.ajax({
                url: 'http://localhost:65510/api/Change/Putjizeng1/',
                type: 'get',
                data: s,
                dataType: 'json',
                success: function (d) {
                    if (d > 0) {
                        IntegraUpt();
                    }

                }
            })
        }
        function IntegraUpt() {

            $.ajax({
                url: 'http://localhost:65510/api/Change/Putjizeng?id=' + Id,
                type: 'get',

                dataType: 'json',
                success: function (d) {
                    if (d > 0) {

                        alert('积分充值成功');
                        location.href = '/Menber/MenbShow';
                    }
                    else {
                        alert('积分充值失败');
                    }
                }
            })
        }
        //积分扣减
        function IntegralKouUpt() {
            var s = {
                id: Id,
                tui: $("#textKou").val()
            }
            $.ajax({
                url: 'http://localhost:65510/api/Change/PutjiKou1/',
                type: 'get',
                data: s,
                dataType: 'json',
                success: function (d) {
                    if (d > 0) {
                        IntegraKoujianUpt();
                    }

                }
            })
        }
        function IntegraKoujianUpt() {

            $.ajax({
                url: 'http://localhost:65510/api/Change/PutjiKou?id=' + Id,
                type: 'get',

                dataType: 'json',
                success: function (d) {
                    if (d > 0) {

                        alert('积分扣减成功');
                        location.href = '/Menber/MenbShow';
                    }
                    else {
                        alert('积分扣减失败');
                    }
                }
            })
        }
        //积分清零
        function Integraling() {

            $.ajax({
                url: 'http://localhost:65510/api/Change/Putling?id=' + Id,
                type: 'get',

                dataType: 'json',
                success: function (d) {
                    if (d > 0) {

                        alert('积分清零成功');
                        location.href = '/Menber/MenbShow';
                    }
                    else {
                        alert('积分清零失败');
                    }
                }
            })
        }
    </script>

}
