
@{
    ViewBag.Title = "Showrole";
}

<style>
    /*表格样式*/
    .form-control {
        display: block;
        width: 250px;
        height: 50px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555555;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    table {
        border-collapse: collapse;
        margin: 0 auto;
        text-align: center;
    }

        table td, table th {
            border: 1px solid #cad9ea;
            color: #666;
            height: 30px;
        }

        table thead th {
            background-color: #CCE8EB;
            width: 100px;
        }

        table tr:nth-child(odd) {
            background: #fff;
        }

        table tr:nth-child(even) {
            background: #F5FAFA;
        }
    /*删除按钮css样式*/

    .info-close {
        /*position: fixed;*/
        right: calc(50% - 10px);
        width: 30px;
        height: 30px;
        background: #ff0000;
        opacity: .6;
        border-radius: 25px;
        cursor: pointer;
        z-index: 2002;
    }

        .info-close:before {
            position: absolute;
            content: '';
            width: 20px;
            height: 2px;
            background: white;
            transform: rotate(45deg);
            top: 14px;
            left: 5px;
        }

        .info-close:after {
            content: '';
            position: absolute;
            width: 20px;
            height: 2px;
            background: white;
            transform: rotate(-45deg);
            top: 14px;
            left: 5px;
        }
</style>

<div>
    <div style="float:left">
        <input id="Button1" type="button" class="btn btn-default" value="员工列表" onclick="location.href=' /Hospital/Show'" />
        <input id="Button1" type="button" class="btn btn-default" value="科室列表" onclick="location.href=' /Hospital/Showoff'" />
        <input id="Button1" type="button" class="btn btn-default" value="角色列表" onclick="location.href=' /Hospital/Showrole'" />
    </div>
    <div style="margin-left:400px">
        <input id="Button1" type="button" value="＋新增" class="btn btn-info" onclick="location.href='/Hospital/Addrole'" />
        <input id="Button2" type="button" value="批量删除" class="btn btn-info" onclick="delAll()" />
    </div>
</div>

<hr style="color:blueviolet" />
<br />


<div style="float:left">
    <table>
        <tr>
            <td><input id="RoleName" type="text" placeholder="角色名称" class="form-control" /></td>
            <td><input id="Button1" type="button" value="搜索" class="btn btn-default" onclick="Showrole(1)" /></td>
        </tr>
    </table>
</div>

<table class="table">
    <thead>
        <tr style="background:#a9c6c9">
            <td><input class="top" type="checkbox" onclick="allSelect()" />全选/反选</td>
            <td>序号</td>
            <td>角色名称</td>
            <td>角色描述</td>
            <td>创建时间</td>
            <td>创建人员</td>
            <td>角色状态</td>
            <td>操作</td>
        </tr>
    </thead>
    <tbody id="tb">
    </tbody>
</table>
<td>总记录数<span id="TotalCount"></span>条</td>
<td>总共<span id="TotalPage"></span>页</td>
<td>当前第<span id="CurrentPage"></span>页</td>
<td><input id="Button1" class="info-close" type="button" style="color:#000000" value="☀" onclick="Showrole(1)" /></td>
<td><input id="Button1" class="info-close" type="button" style="color:#000000" value="<<" onclick="Showrole(CurrentPage-1)" /></td>
<td><input id="Button1" class="info-close" type="button" style="color:#000000" value=">>" onclick="Showrole(CurrentPage+1)" /></td>
<td><input id="Button1" class="info-close" type="button" style="color:#000000" value="☾" onclick="Showrole(TotalPage)" /></td>


@section scripts{
    <script>
        //页面第一次加载
        $(function () {
            Showrole();
        })
        //商品列表显示
        var PageSize = 6;
        var CurrentPage = 1;
        var TotalPage = 1;
        function Showrole(page) {
            var obj = {};
            obj.RoleName = $("#RoleName").val();
            obj.CurrentPage = page;
            obj.PageSize = PageSize;
            $.ajax({
                url: "http://localhost:65510/api/RoleShow/Get",
                type: "get",
                data: obj,
                success: function (d) {
                    $("#TotalCount").text(d.TotalCount)
                    $("#TotalPage").text(d.TotalPage)
                    $("#CurrentPage").text(d.CurrentPage)
                    //最大页
                    TotalPage = d.TotalPage;
                    //当前页
                    CurrentPage = d.CurrentPage;
                    //清空表格
                    $("#tb").empty();
                    //循环遍历
                    $(d.roles).each(function () {
                        //拼接tr一行
                        var line = '<tr>'
                            + '<td><input class="ck" type="checkbox"value="' + this.Id + '" /></td>'
                            + '<td>' + this.Id + '</td>'
                            + '<td>' + this.RoleName + '</td>'
                            + '<td>' + this.RoleContent + '</td>'
                            + '<td>' + this.RoleTime + '</td>'
                            + '<td>' + this.CreatePerson + '</td>'
                            + '<td>' + (this.RoleStatus ? "启用" : "禁用") + '</td>'
                            + '<td>' + "<a href=/Hospital/Uptrole/" + this.Id + " >编辑&nbsp;&nbsp;</a>"
                            + "<a href='javascripts:;' onclick='Delrole(" + this.Id + ")'>删除&nbsp;&nbsp;</a>"
                            + "<a href='javascripts:;' onclick='UptStatussrole(" + this.Id + ")'>" + (this.RoleStatus ? "禁用" : "启用") + "</a>" + '</td>'
                            + '</tr>'
                        //将数据放入表格
                        $("#tb").append(line);
                    });
                }
            });
        }
        //删除角色信息
        function Delrole(id) {
            if (confirm("确认删除码？")) {
                $.ajax({
                    url: "http://localhost:65510/api/RoleShow/Delete/" + id,
                    type: "post",
                    data: { id: id },
                    success: function (d) {
                        if (d > 0) {
                            alert("删除成功");
                            location.href = "/Hospital/Showrole";
                        }
                        else {
                            alert("删除失败");
                        }
                    }
                })
            }
        }
        //全选、反选
        function allSelect() {
            if ($(".top").prop("checked")) {
                $(".ck").prop("checked", true)
            }
            else {
                $(".ck").each(function () {
                    this.checked = !this.checked;
                })
            }
        }
        //批删
        function delAll() {
            if (confirm("确认删除码？")) {
                //获取id
                var ids = [];
                $(".ck:checked").each(function () {
                    ids.push(this.value);
                })
                //验证
                if (ids.length == 0) {
                    alert("请至少选择一条数据");
                    return;
                }
                //删除
                $.ajax({
                    url: "http://localhost:65510/api/RoleShow/Delete/" + ids,
                    type: "post",
                    data: { id: ids.toString() },
                    success: function (d) {
                        if (d > 0) {
                            alert("成功删除了" + d + "条数据");
                            location.href = "/Hospital/Show";
                        }
                        else {
                            alert("删除失败");
                        }
                    }
                })
            }
        }
        //修改角色状态
        function UptStatussrole(id) {
            if (confirm("确认要进行此操作吗？")) {
                $.ajax({
                    url: 'http://localhost:65510/api/UptStatussrole/Put/' + id,
                    type: 'post',
                    data: { id: id },
                    dataType: 'json',
                    success: function (d) {
                        if (d > 0) {
                            alert('操作成功');
                            Showrole();
                        }
                        else {
                            alert('操作失败');
                        }
                    }
                })
            }
        }
    </script>
}