
@{
    ViewBag.Title = "Upt";
}

<style>
    /*div布局*/
    body {
        /*background-color: LightBlue;*/
        font-family: Verdana;
        font-size: 13px;
    }

    .divHeaderTable {
        width: 100%;
        padding-bottom: 5px;
        display: block;
    }

    .divHeaderRow {
        width: 100%; /* add extra that you want to for header column */
        display: block;
        height: 105px;
    }

    .divHeaderColumn {
        float: left;
        width: 33%;
        display: block;
    }

    .divTable {
        width: 100%;
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .divRow {
        width: 99%;
        display: block;
        padding-bottom: 5px;
    }

    .divColumn {
        float: left;
        width: 24%;
        display: block;
    }

    .form-control {
        display: block;
        width: 250px;
        height: 50px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555555;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    .button {
        display: inline-block;
        padding: 15px 25px;
        font-size: 24px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #3c00ff;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
    }

        .button:hover {
            background-color: #3e8e41
        }

        .button:active {
            background-color: #3e8e41;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }

    table {
        border-collapse: collapse;
        margin: 0 auto;
        text-align: center;
    }

        table td, table th {
            border: 1px solid #cad9ea;
            color: #666;
            height: 30px;
        }

        table thead th {
            background-color: #CCE8EB;
            width: 100px;
        }

        table tr:nth-child(odd) {
            background: #fff;
        }

        table tr:nth-child(even) {
            background: #F5FAFA;
        }

    .black_overlay {
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index: 1001;
        /*-moz-opacity: 0.8;*/
        opacity: .80;
        filter: alpha(opacity=88);
    }

    .white_content {
        display: none;
        position: absolute;
        top: 25%;
        left: 25%;
        width: 55%;
        height: 55%;
        padding: 20px;
        border: 10px solid orange;
        background-color: white;
        z-index: 1002;
        overflow: auto;
    }
</style>

<div style="margin-left:1000px">
    <input id="Button1" style="width:100px" type="button" value="保存" class="btn btn-primary" onclick="Upt()" />
    <input id="Button2" style="width:100px" type="button" value="返回" class="btn btn-default" onclick="location.href='/Hospital/Show'" />
</div>

<div>
    <div id="divHeader" class="divHeaderTable">
        <h1 style="color:blue;margin-left: 40px">编辑员工信息</h1>
    </div>
    <div id="content" class="divTable">
        <div class="divRow">
            <div class="divColumn">
                <div>
                    <label id="lblSolutation"> 员工编号</label>
                </div>
                <div>
                    <input id="StaffNumber" class="form-control" type="text" placeholder="请输入员工编号" />
                </div>
            </div>
            <div class="divColumn">
                <div>
                    <label id="lblFname"> 员工姓名</label>
                </div>
                <div>
                    <input id="StaffName" class="form-control" type="text" placeholder="请输入员工姓名" />
                </div>
            </div>
            <div class="divColumn">
                <div>
                    <label id="lblMname">员工年龄</label>
                </div>
                <div>
                    <input id="StaffAge" class="form-control" type="text" placeholder="请输入员工年龄" />
                </div>
            </div>
            <div class="divColumn">
                <div>
                    <label id="lblLname"> 手机号码</label>
                </div>
                <div>
                    <input id="StaffPhone" class="form-control" type="text" placeholder="请输入手机号码" />
                </div>
            </div>
        </div>
        <div class="divRow">
            <div class="divColumn">
                <div>
                    <label id="Label9"> 电子邮箱</label>
                </div>
                <div>
                    <input id="StaffEmail" class="form-control" type="text" placeholder="请输入电子邮箱" />
                </div>

            </div>
            <div class="divColumn">
                <div>
                    <label id="Label7"> 证件号码</label>
                </div>
                <div>
                    <input id="StaffCertificateNumber" class="form-control" type="text" placeholder="请输入证件号码" />
                </div>
            </div>
            <div class="divColumn">
                <div>
                    <label id="Label8">省市</label>
                </div>
                <div>
                    <input id="Pro" class="form-control" type="text" />
                </div>
            </div>
        </div>
        <div class="divRow">
            <div class="divColumn">
                <div>
                    <label id="Label9"> 详细地址</label>
                </div>
                <div>
                    <input id="StaffSiteTionContent" class="form-control" type="text" placeholder="请输入详细地址" />
                </div>

            </div>
            <div class="divColumn">
                <div>
                    <label id="Label7"> 职位</label>
                </div>
                <div>
                    <input id="StaffPosition" class="form-control" type="text" placeholder="请输入职位名称" />
                </div>
            </div>
            <div class="divColumn">
                <div>
                    <label id="Label8"> 所属诊所</label>
                </div>
                <div>
                    <input id="StaffBelong" class="form-control" type="text" placeholder="请输入诊所" />
                </div>
            </div>
            <div class="divColumn">
                <div>
                    <label id="Label8"> 所属科室</label>
                </div>
                <div>
                    <select id="OfficeName" class="form-control"></select>
                </div>
            </div>
        </div>
        <div class="divRow">
            <div class="divColumn">
                <div>
                    <label id="Label9"> 角色</label>
                </div>
                <div>
                    <select id="RoleName" class="form-control"></select>
                </div>

            </div>
            <div class="divColumn">
                <div>
                    <label id="Label8"> 密码</label>
                </div>
                <div>
                    <input id="Password" type="text" class="form-control" placeholder="6-12位，包含数字和字母" />
                </div>
            </div>
            <div class="divColumn">
                <div>
                    <label id="Label8"> 员工状态</label>
                </div>
                <div>
                    <input id="StateIsok" type="radio" name="1" checked="checked" />启用
                    <input id="StateIsok2" type="radio" name="1" />禁用
                </div>
            </div>
            <div class="divColumn">
                <div>
                    <label id="Label8"> 性别</label>
                </div>
                <div>
                    <input id="RadioBoy" type="radio" name="2" checked="checked" />男
                    <input id="RadioGirl" type="radio" name="2" />女
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        //第一次加载
        $(function () {
            BandOffice();
            BandRole();
            //BandPro();
            Fill();
        })
        //绑定科室下拉
        function BandOffice() {
            $.ajax({
                url: "http://localhost:65510/api/BandOffice/Get",
                type: "get",
                dataType: "json",
                success: function (d) {
                    //清空下拉框
                    $("#OfficeName").empty();
                    $("#OfficeName").append("<option value=''>==请选择==</option>");
                    //拼接一个下拉项
                    $(d).each(function () {
                        var opt = "<option value=" + this.Id + ">" + this.OfficeName + "</option>";
                        //将数据放入表格
                        $("#OfficeName").append(opt);
                    });
                }
            })
        }
        //绑定角色下拉
        function BandRole() {
            $.ajax({
                url: "http://localhost:65510/api/Role/Get",
                type: "get",
                dataType: "json",
                success: function (d) {
                    //清空下拉框
                    $("#RoleName").empty();
                    $("#RoleName").append("<option value=''>==请选择==</option>");
                    //拼接一个下拉项
                    $(d).each(function () {
                        var opt = "<option value=" + this.Id + ">" + this.RoleName + "</option>";
                        //将数据放入表格
                        $("#RoleName").append(opt);
                    });

                }
            })
        }

        //反填数据
        function Fill() {
            $.ajax({
                url: "http://localhost:65510/api/AddStaff/Get/"+@ViewContext.RouteData.Values["Id"],
                type: "get",
                dataType:"json",
                success: function (d) {
                    //反填
                    $("#StaffNumber").val(d.StaffNumber);
                    $("#StaffName").val(d.StaffName);
                    $("#StaffAge").val(d.StaffAge);
                    $("#StaffPhone").val(d.StaffPhone);
                    $("#StaffEmail").val(d.StaffEmail);
                    $("#StaffCertificateNumber").val(d.StaffCertificateNumber);

                    $("#StaffPosition").val(d.StaffPosition);

                    $("#StaffSiteTionContent").val(d.StaffSiteTionContent);
                    $("#StaffBelong").val(d.StaffBelong);
                    $("#OfficeName").val(d.OfficeId);
                    $("#RoleName").val(d.RoleId);
                    $("#Pro").val(d.StaffSiteTionId);
                    //单选
                    if (d.StaffSex) {
                        RadioBoy.checked = true;
                    }
                    else {
                        RadioGirl.checked = true;
                    }
                    //单选
                    if (d.StateIsok) {
                        StateIsok.checked = true;
                    }
                    else {
                        StateIsok2.checked = true;
                    }
                }
            })
        }
        //修改函数
        function Upt() {
            //获取表单的值
            var obj = {};
            obj.StaffNumber = $("#StaffNumber").val();
            obj.StaffName = $("#StaffName").val();
            obj.StaffAge = $("#StaffAge").val();
            obj.StaffPhone = $("#StaffPhone").val();
            obj.StaffEmail = $("#StaffEmail").val();
            obj.StaffCertificateNumber = $("#StaffCertificateNumber").val();
            obj.StaffPosition = $("#StaffPosition").val();
            obj.StaffSiteTionId = $("#StaffSiteTionId").val();

            obj.StaffBelong = $("#StaffBelong").val();
            obj.StaffSiteTionContent = $("#StaffSiteTionContent").val();
            obj.OfficeId = $("#OfficeName").val();
            obj.RoleId = $("#RoleName").val();

            obj.StaffSiteTionId = $("#Pro").val();
            //单选的获取
            obj.StaffSex = $("#RadioBoy").prop("checked");
            obj.StateIsok = $("#StateIsok").prop("checked");
            //勿忘我
            obj.Id = @ViewContext.RouteData.Values["Id"];

            //添加（ajax）
            $.ajax({
                url: "http://localhost:65510/api/AddStaff/Put",
                type: "Post",
                data: obj,
                success: function (d) {
                    if (d > 0) {
                        alert("修改成功");
                        location.href = "/Hospital/Show";
                    }
                    else {
                        alert("修改失败");
                        location.href = "/Hospital/Show";
                    }
                }
            })
        }
    </script>
}