
@{
    ViewBag.Title = "OutRepertoryShow";
}

<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<style type="text/css">
    table {
        border-collapse: collapse;
        margin: 0 auto;
        text-align: center;
    }

        table td, table th {
            border: 1px solid #cad9ea;
            color: #666;
            height: 30px;
        }

        table thead th {
            background-color: #CCE8EB;
            width: 100px;
        }

        table tr:nth-child(odd) {
            background: #fff;
        }

        table tr:nth-child(even) {
            background: #F5FAFA;
        }

    .form-control {
        display: block;
        width: 250px;
        height: 50px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555555;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    .button {
        display: inline-block;
        padding: 15px 25px;
        font-size: 24px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #a9c6c9;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
    }

        .button:hover {
            background-color: #3e8e41
        }

        .button:active {
            background-color: #3e8e41;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }
    /*删除按钮css样式*/

    .info-close {
        /*position: fixed;*/
        right: calc(50% - 10px);
        width: 30px;
        height: 30px;
        background: #ff0000;
        opacity: .6;
        border-radius: 25px;
        cursor: pointer;
        z-index: 2002;
    }

        .info-close:before {
            position: absolute;
            content: '';
            width: 20px;
            height: 2px;
            background: white;
            transform: rotate(45deg);
            top: 14px;
            left: 5px;
        }

        .info-close:after {
            content: '';
            position: absolute;
            width: 20px;
            height: 2px;
            background: white;
            transform: rotate(-45deg);
            top: 14px;
            left: 5px;
        }
</style>
<input class="button" type="button" value="☺新增出库" style="margin-left:1000px" onclick="location.href='/Repertory/OutRepertoryAdd'" />
<hr style="height:2px;border-top:2px dotted #555555" />
<div style="margin-left:50px;margin-top:20px">
    <table>
        <tr>
            <td>审核状态：</td>
            <td>
                <select id="AuditStatusId" class="form-control">
                    <option></option>
                </select>
            </td>
            <td>出库类型：</td>
            <td>
                <select id="OutRepertoryTypeId" class="form-control">
                    <option></option>
                </select>
            </td>
            <td><input id="OutRepertoryNumber" type="text" placeholder="输出入库单号" class="form-control" /></td>
            <td><input id="Button1" type="button" value="查询啊" class="btn btn-danger" onclick="OutRepertoryShow(1)" /></td>
        </tr>
    </table>
</div>

<table class="table" style="width:1400px;height:100px">
    <thead style="background:#a9c6c9">
        <tr>
            <th style="text-align:center;">出库编号</th>
            <th style="text-align:center;">出库类型</th>
            <th style="text-align:center;">出库人员</th>
            <th style="text-align:center;">采购金额</th>
            <th style="text-align:center;">零售金额</th>
            <th style="text-align:center;">创建时间</th>
            <th style="text-align:center;">审核状态</th>
            <th style="text-align:center;">操作</th>
        </tr>
    </thead>
    <tbody id="td">
    </tbody>
</table>

<td>总记录数<span id="TotalCount"></span>条</td>
<td>总共<span id="TotalPage"></span>页</td>
<td>当前第<span id="CurrentPage"></span>页</td>
<td><input id="Button1" class="info-close" type="button" style="color:#000000" value="☀" onclick="OutRepertoryShow(1)" /></td>
<td><input id="Button1" class="info-close" type="button" style="color:#000000" value="<<" onclick="OutRepertoryShow(CurrentPage-1)" /></td>
<td><input id="Button1" class="info-close" type="button" style="color:#000000" value=">>" onclick="OutRepertoryShow(CurrentPage+1)" /></td>
<td><input id="Button1" class="info-close" type="button" style="color:#000000" value="☾" onclick="OutRepertoryShow(TotalPage)" /></td>


@section scripts{
    <script>
        var PageSize = 6;
        var CurrentPage = 1;
        var TotalPage = 1;

        $(function () {
            AuditStatusBandsel();
            OutRepertoryTypeBandsel();
        });


        //绑定核审状态
        function AuditStatusBandsel() {
            $.ajax({
                url: 'http://localhost:65510/api/AuditStatus/Get',
                type: 'get',
                dataType: 'json',
                success: function (d) {
                    $("#AuditStatusId").empty();
                    $("#AuditStatusId").append("<option value=''>==请选择==</option>");
                    $(d).each(function () {
                        var opt = "<option value='" + this.Id + "'>" + this.AuditStatusName + "</option>";
                        $("#AuditStatusId").append(opt);
                    })
                }
            })
        }
        //绑定出库类型

        function OutRepertoryTypeBandsel() {
            $.ajax({
                url: 'http://localhost:65510/api/RepertoryAddStatus/Get',
                type: 'get',
                dataType: 'json',
                success: function (d) {
                    $("#OutRepertoryTypeId").empty();
                    $("#OutRepertoryTypeId").append("<option value=''>==请选择==</option>");
                    $(d).each(function () {
                        var opt = "<option value='" + this.Id + "'>" + this.OutRepertoryTypeName + "</option>";
                        $("#OutRepertoryTypeId").append(opt);
                    })
                    OutRepertoryShow(1);
                }
            })
        }
        //药品显示表
        function OutRepertoryShow(page) {
            var obj = {};
            obj.AuditStatusId = $("#AuditStatusId").val();
            obj.OutRepertoryTypeId = $("#OutRepertoryTypeId").val();
            obj.OutRepertoryNumber = $("#OutRepertoryNumber").val();

            obj.CurrentPage = page;
            obj.PageSize = PageSize;

            $.ajax({
                url: 'http://localhost:65510/api/OutRepertory/Get',
                type: 'get',
                data: obj,
                dataType: 'json',
                success: function (d) {

                    $("#TotalCount").text(d.TotalCount)
                    $("#TotalPage").text(d.TotalPage)
                    $("#CurrentPage").text(d.CurrentPage)
                    //最大页
                    TotalPage = d.TotalPage;
                    //当前页
                    CurrentPage = d.CurrentPage;


                    $("#td").empty();
                    $(d.outRepertories).each(function () {
                        var line = '<tr>'
                            + '<td>' + this.OutRepertoryNumber + '</td>'
                            + '<td>' + this.OutRepertoryTypeName + '</td>'
                            + '<td>' + this.CreatePerson + '</td>'
                            + '<td>' + this.DrugPrice + '</td>'
                            + '<td>' + this.DrugSelling + '</td>'
                            + '<td>' + this.OutRepertoryTime + '</td>'
                            + '<td>' + this.AuditStatusName + '</td>'
                            + '<td>' + (this.AuditStatusId == 1 ? "<a onclick=OutRepertoryFill3(" + this.Id + ")>编辑</a>" : (this.AuditStatusId == 2 ? "<a onclick=OutRepertoryFill(" + this.Id + ")>查看</a>" : (this.AuditStatusId == 3 ? "<a onclick=OutRepertoryFill2(" + this.Id + ")>查看</a>" : null))) + "<a onclick=OutRepertoryDel(" + this.Id + ")>&nbsp;&nbsp;删除</a>"  + '</td>'
                            + '</tr>'
                        $("#td").append(line);
                    })
                }
            })
        }
        //入库详情审核通过
        function OutRepertoryFill(id)
        {
            location.href = '/Repertory/OutRepertoryFill?id=' + id;
        }
        //入库详情审核提交未通过
        function OutRepertoryFill2(id) {
            location.href = '/Repertory/OutRepertoryFill2?id=' + id;
        }
        //入库详情审核编辑
        function OutRepertoryFill3(id) {
            location.href = '/Repertory/OutRepertoryFill3?id=' + id;
        }
        //删除入库信息
        function OutRepertoryDel(Id) {
            if (confirm("确认要删除吗？")) {
                $.ajax({
                    url: 'http://localhost:65510/api/OutRepertory/Delete/' + Id,
                    type: 'Post',
                    data: { Id: Id },
                    dataType: 'json',
                    success: function (d) {
                        if (d > 0) {
                            alert('删除成功');
                            OutRepertoryShow();
                        }
                        else {
                            alert('删除失败');
                        }
                    }
                })
            }
        }
    </script>
}