
@{
    ViewBag.Title = "OutRepertoryFill2";
}

<h2>入库详情-审核通过</h2>
<input id="Button1" type="button" class="button" value="返回" onclick="location.href='/Repertory/OutRepertoryShow'" />
<html>
<head>
    <style>
        div.table {
            font-size: 0;
            width: 400px;
            /*border-top-style: solid;
            border-top-width: 1px;
            border-left-style: solid;
            border-left-width: 1px;*/
            /*margin: 0 auto;*/
        }


            div.table > div > div {
                font-size: 18px;
                /*border-right-width: 1px;
                border-right-style: solid;
                border-bottom-width: 1px;
                border-bottom-style: solid;*/
                width: 199px;
                display: inline-block;
                margin: 0px;
                padding: 0px;
                text-align: center;
            }



        /*div.table > div:first-child {
                background-color: pink;
            }*/

        /*文本框样式*/
        .text {
            background: none transparent scroll repeat 0% 0%;
            border: 0px;
        }

        /*表格框样式*/
        table {
            border-collapse: collapse;
            margin: 0 auto;
            text-align: center;
        }

            table td, table th {
                border: 1px solid #cad9ea;
                color: #666;
                height: 30px;
            }

            table thead th {
                background-color: #CCE8EB;
                width: 100px;
            }

            table tr:nth-child(odd) {
                background: #fff;
            }

            table tr:nth-child(even) {
                background: #F5FAFA;
            }

        /*button按钮样式*/
        .button {
            display: inline-block;
            padding: 15px 25px;
            font-size: 24px;
            cursor: pointer;
            text-align: center;
            text-decoration: none;
            outline: none;
            color: #fff;
            background-color: #3c00ff;
            border: none;
            border-radius: 15px;
            box-shadow: 0 9px #999;
        }

            .button:hover {
                background-color: #3e8e41
            }

            .button:active {
                background-color: #3e8e41;
                box-shadow: 0 5px #666;
                transform: translateY(4px);
            }
    </style>
</head>
<body>
    <div class="table" style="float:left">
        <div>
            <div>入库订单:</div>
            <div><input id="OutRepertoryNumber" type="text" class="text" readonly="readonly" /></div>
        </div>
        <div>
            <div>入库日期:</div>
            <div><input id="OutRepertoryTime" type="text" class="text" readonly="readonly" /></div>
        </div>
        <div>
            <div>制单日期:</div>
            <div><input id="MakeTime" type="text" class="text" readonly="readonly" /></div>
        </div>
    </div>
    <div class="table" style="float: left">

        <div>
            <div>入库人员:</div>
            <div><input id="RoleId" type="text" class="text" readonly="readonly" /></div>
        </div>
        <div>
            <div>入库类型:</div>
            <div><input id="OutRepertoryTypeId" type="text" class="text" readonly="readonly" /></div>
        </div>
    </div>
    <div class="table" style="float:left">
        <div>
            <div>备注:</div>
            <div><input id="Remark" type="text" class="text" readonly="readonly" /></div>
        </div>
        <div>
            <div>提示：</div>
            <div><span id="Pan" style="color:red"></span></div>
        </div>
    </div>
    <table class="table" style="width:1400px" id="tab">
        <thead style="background:#a9c6c9">
            <tr>
                <th style="text-align:center;">药品编码</th>
                <th style="text-align:center;">药品名称</th>
                <th style="text-align:center;">采药价格</th>
                <th style="text-align:center;">售药价</th>
                <th style="text-align:center;">生产厂家</th>
                <th style="text-align:center;">药品数量</th>
                <th style="text-align:center;">库存上限</th>
                <th style="text-align:center;">创建时间</th>
                <th style="text-align:center;">药品类型</th>
            </tr>
        </thead>
        <tbody id="DrugShow" style="color:brown">
        </tbody>
    </table>
</body>
</html>

@section scripts{
    <script>
        $(function () {
            OutRepertoryFill2();
        });

        var RepertoryId = this.location.search.substr(this.location.search.indexOf('=') + 1);
        //反填入库详情审核通过
        function OutRepertoryFill2() {
            $.ajax({
                url: 'http://localhost:65510/api/OutRepertoryAddStatus/Get/' + RepertoryId,
                type: 'get',
                dataType: 'json',
                success: function (d) {
                    $("#OutRepertoryNumber").val(d.OutRepertoryNumber);
                    $("#OutRepertoryTime").val(d.OutRepertoryTime);
                    $("#MakeTime").val(d.MakeTime);
                    $("#RoleId").val(d.CreatePerson);
                    $("#OutRepertoryTypeId").val(d.OutRepertoryTypeName);
                    $("#Remark").val(d.Remark);

                    $("#DrugId").val(d.DrugId);

                }
            })
            DrugRepertoryShow();
        }
        //显示药品入库信息
        function DrugRepertoryShow() {
            $.ajax({
                url: 'http://localhost:65510/api/OutRepertoryAddStatus/Get/' + RepertoryId,
                type: 'get',
                dataType: 'json',
                success: function (d) {

                    $("#DrugShow").empty();
                    $(d).each(function () {
                        var line = '<tr>'
                            + '<td>' + this.DrugNumber + '</td>'
                            + '<td>' + this.DrugName + '</td>'
                            + '<td>' + this.DrugPrice + '</td>'
                            + '<td>' + this.DrugSelling + '</td>'
                            + '<td>' + this.ManufacturersName + '</td>'
                            + '<td>' + this.DrugCount + '</td>'
                            + '<td>' + this.InventoryUpperLimit + '</td>'
                            + '<td>' + this.DrugCreateTime + '</td>'
                            + '<td>' + this.DrugTypeName + '</td>'
                            + '</tr>'
                        $("#DrugShow").append(line);

                        //判断库存
                        var tableId = document.getElementById("tab");
                        for (var i = 1; i < tableId.rows.length; i++) {
                            var a = Number(tableId.rows[i].cells[5].innerHTML) || 0;
                            var b = Number(tableId.rows[i].cells[6].innerHTML) || 0;
                            if (a > b) {
                                var demoP = document.getElementById("Pan");
                                demoP.innerHTML = "库存数量不符合";
                            }
                            else {
                                return "";
                            }
                        }
                        
                    })
                }
            })
        }
    </script>
}