
@{
    ViewBag.Title = "OutRepertoryAdd";
}


<style>
    body {
        /*background-color: LightBlue;*/
        font-family: Verdana;
        font-size: 13px;
    }

    .divHeaderTable {
        width: 100%;
        padding-bottom: 5px;
        display: block;
    }

    .divHeaderRow {
        width: 100%; /* add extra that you want to for header column */
        display: block;
        height: 105px;
    }

    .divHeaderColumn {
        float: left;
        width: 33%;
        display: block;
    }

    .divTable {
        width: 100%;
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .divRow {
        width: 99%;
        display: block;
        padding-bottom: 5px;
    }

    .divColumn {
        float: left;
        width: 24%;
        display: block;
    }

    .form-control {
        display: block;
        width: 250px;
        height: 50px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.428571429;
        color: #555555;
        vertical-align: middle;
        background-color: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }

    .button {
        display: inline-block;
        padding: 15px 25px;
        font-size: 24px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #3c00ff;
        border: none;
        border-radius: 15px;
        box-shadow: 0 9px #999;
    }

        .button:hover {
            background-color: #3e8e41
        }

        .button:active {
            background-color: #3e8e41;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }

    table {
        border-collapse: collapse;
        margin: 0 auto;
        text-align: center;
    }

        table td, table th {
            border: 1px solid #cad9ea;
            color: #666;
            height: 30px;
        }

        table thead th {
            background-color: #CCE8EB;
            width: 100px;
        }

        table tr:nth-child(odd) {
            background: #fff;
        }

        table tr:nth-child(even) {
            background: #F5FAFA;
        }

    .black_overlay {
        display: none;
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index: 1001;
        /*-moz-opacity: 0.8;*/
        opacity: .80;
        filter: alpha(opacity=88);
    }

    .white_content {
        display: none;
        position: absolute;
        top: 25%;
        left: 25%;
        width: 55%;
        height: 55%;
        padding: 20px;
        border: 10px solid orange;
        background-color: white;
        z-index: 1002;
        overflow: auto;
    }
    /*删除按钮css样式*/

    .info-close {
        /*position: fixed;*/
        right: calc(50% - 10px);
        width: 30px;
        height: 30px;
        background: #ff0000;
        opacity: .6;
        border-radius: 25px;
        cursor: pointer;
        z-index: 2002;
    }

        .info-close:before {
            position: absolute;
            content: '';
            width: 20px;
            height: 2px;
            background: white;
            transform: rotate(45deg);
            top: 14px;
            left: 5px;
        }

        .info-close:after {
            content: '';
            position: absolute;
            width: 20px;
            height: 2px;
            background: white;
            transform: rotate(-45deg);
            top: 14px;
            left: 5px;
        }
</style>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    @*<link href="CSS/StyleSheet.css" rel="Stylesheet" type="text/css" />*@
</head>
<body>
    <input id="Button1" type="button" class="button" value="审核提交" onclick="RepertoryAddStatus()" />
    <input id="Button1" type="button" class="button" value="直接入库" onclick="RepertoryAdd()" />
    <input id="Button1" type="button" class="button" value="返回" onclick="location.href='/Repertory/OutRepertoryShow'" />

    <hr style="height:2px;border-top:2px dotted #555555" />
    <div style="width:99%; height:250px;border:1px solid #000;background-color:LightBlue">
        <div id="divHeader" class="divHeaderTable">
            <h1 style="color:blue;margin-left: 40px">新增出库信息</h1>
        </div>
        <div id="content" class="divTable">
            <div class="divRow">
                <div class="divColumn">
                    <div>
                        <label id="lblSolutation"> 出库单号</label>
                    </div>
                    <div>
                        <input type="text" id="OutRepertoryNumber" class="form-control" />
                    </div>
                </div>
                <div class="divColumn">
                    <div>
                        <label id="lblFname"> 出库日期</label>
                    </div>
                    <div>
                        <input id="OutRepertoryTime" class="form-control" style="height:50px" type="date" />
                    </div>
                </div>
                <div class="divColumn">
                    <div>
                        <label id="lblMname">出库人员</label>
                    </div>
                    <div>
                        <select id="RoleName" style="width: 250px;height: 50px;">
                            <option></option>
                        </select>
                    </div>
                </div>
                <div class="divColumn">
                    <div>
                        <label id="lblLname"> 出库类型</label>
                    </div>
                    <div>
                        <select id="OutRepertoryTypeId" style="width: 250px;height: 50px;">
                            <option></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="divRow">
                <div class="divColumn">
                    <div>
                        <label id="Label9"> 制单日期</label>
                    </div>
                    <div>
                        <input id="DrugCreateTime" class="form-control" disabled="true" style="height:50px" type="date" />
                    </div>

                </div>
                <div class="divColumn">
                    <div>
                        <label id="Label7"> 制单人员</label>
                    </div>
                    <div>
                        <input type="text" id="RepertoryNumber" disabled="true" class="form-control" value="张三" />
                    </div>
                </div>
                <div class="divColumn">
                    <div>
                        <label id="Label8"> 备注</label>
                    </div>
                    <div>
                        <input type="text" id="Remark" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <table class="table" style="width:1400px" id="tab">
        <thead style="background:#a9c6c9">
            <tr>
                <th style="text-align:center;">
                    <input class="top2" type="checkbox" onclick="xuan2()" />
                </th>
                <th style="text-align:center;">药品编码</th>
                <th style="text-align:center;">药品名称</th>
                <th style="text-align:center;">采药价格</th>
                <th style="text-align:center;">售药价</th>
                <th style="text-align:center;">生产厂家</th>
                <th style="text-align:center;">药品数量</th>
                <th style="text-align:center;">创建时间</th>
                <th style="text-align:center;">药品类型</th>
                <th style="text-align:center;">操作</th>
            </tr>
        </thead>
        <tbody id="DrugShow" style="color:brown">
        </tbody>
    </table>

    <p>采药金额合计:<span id="DrugPriceSum" style="color:red"></span>元</p>
    <p>零售金额合计:<span id="DrugSellingSum" style="color:red"></span>元</p>
    <div style="margin-left:700px;margin-top:50px;">
        <input id="Button1" class="button" type="button" value="添加药品" onclick="document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'" />
    </div>
    <div id="light" class="white_content">
        <a href="javascript:void(0)" onclick="document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">点这里关闭本窗口</a>
        <br />
        <div style="margin-left:0px;margin-top:20px">
            <table>
                <tr>
                    <td>处方类别：</td>
                    <td>
                        <select id="DrugTypeId" class="form-control">
                            <option></option>
                        </select>
                    </td>
                    <td><input id="DrugName" type="text" class="form-control" placeholder="请输入药品名字" /></td>
                    <td><input id="Button1" type="button" value="查询啊" class="btn btn-danger" onclick="DrugShow(1)" /></td>
                </tr>
            </table>
        </div>
        <table class="table">
            <thead style="background:#a9c6c9">
                <tr>
                    <th style="text-align:center;">
                        <input class="top" type="checkbox" onclick="xuan()" />
                    </th>
                    <th style="text-align:center;">序号</th>
                    <th style="text-align:center;">药品编码</th>
                    <th style="text-align:center;">药品名称</th>
                    <th style="text-align:center;">药品类别</th>
                    <th style="text-align:center;">规格</th>
                    <th style="text-align:center;">生产厂家</th>
                    <th style="text-align:center;">库存</th>
                    <th style="text-align:center;">采购价格</th>
                    <th style="text-align:center;">零售价格</th>
                </tr>
            </thead>
            <tbody id="td" style="color:brown">
            </tbody>
        </table>
        总记录数<span id="TotalCount"></span>条&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        总共<span id="TotalPage"></span>页&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        当前第<span id="CurrentPage"></span>页&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="javascript:;" onclick="DrugShow(1)">首页</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="javascript:;" onclick="DrugShow(CurrentPage-1)">上一页</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="javascript:;" onclick="DrugShow(CurrentPage+1)">下一页</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="javascript:;" onclick="DrugShow(TotalPage)">尾页</a>
        <input id="Button1" class="button" type="button" value="确定" onclick="OutDrugRepertoryAdd()" />
        <input id="Button1" class="button" type="button" value="取消" onclick="location.href='/Repertory/OutRepertoryAdd'" />
    </div>
    <div id="fade" class="black_overlay"></div>

    <div style="text-align:center; background-color:aqua;margin-top:100px">欢迎登陆医院系统</div>
</body>
</html>

@section scripts{
    <script>
        $(function () {
            RoleBandsel();
            OutRepertoryTypeBandsel();
            DrugTypeBandsel();

        });
        //绑定出库人员表
        function RoleBandsel() {
            $.ajax({
                url: 'http://localhost:65510/api/Role/Get',
                type: 'get',
                dataType: 'json',
                success: function (d) {
                    $("#RoleName").empty();
                    $("#RoleName").append("<option value=''>==请选择==</option>");
                    $(d).each(function () {
                        var opt = "<option value='" + this.Id + "'>" + this.CreatePerson + "</option>";
                        $("#RoleName").append(opt);
                    })
                }
            })
        }
        //绑定出库类型
        function OutRepertoryTypeBandsel() {
            $.ajax({
                url: 'http://localhost:65510/api/RepertoryAddStatus/Get',
                type: 'get',
                dataType: 'json',
                success: function (d) {
                    $("#OutRepertoryTypeId").empty();
                    $("#OutRepertoryTypeId").append("<option value=''>==请选择==</option>");
                    $(d).each(function () {
                        var opt = "<option value='" + this.Id + "'>" + this.OutRepertoryTypeName + "</option>";
                        $("#OutRepertoryTypeId").append(opt);
                    })
                    DrugShow(1);
                    OutDrugRepertoryShow();
                }
            })
        }


        var PageSize = 6;
        var CurrentPage = 1;
        var TotalPage = 1;
        //显示药品表
        function DrugShow(page) {
            var obj = {};
            obj.DrugTypeId = $("#DrugTypeId").val();
            obj.DrugName = $("#DrugName").val();
            obj.CurrentPage = page;
            obj.PageSize = PageSize;
            $.ajax({
                url: 'http://localhost:65510/api/Drug/Get',
                type: 'get',
                data: obj,
                dataType: 'json',
                success: function (d) {

                    $("#TotalCount").text(d.TotalCount)
                    $("#TotalPage").text(d.TotalPage)
                    $("#CurrentPage").text(d.CurrentPage)
                    //最大页
                    TotalPage = d.TotalPage;
                    //当前页
                    CurrentPage = d.CurrentPage;

                    $("#td").empty();
                    $(d.drugs).each(function () {
                        var line = '<tr>'
                            + '<td><input class="cktop" type="checkbox" value=' + this.Id + ' /></td>'
                            + '<td>' + this.Id + '</td>'
                            + '<td>' + this.DrugNumber + '</td>'
                            + '<td>' + this.DrugName + '</td>'
                            + '<td>' + this.DrugTypeName + '</td>'
                            + '<td>' + this.Specification + '</td>'
                            + '<td>' + this.ManufacturersName + '</td>'
                            + '<td>' + this.InventoryUpperLimit + '</td>'
                            + '<td>' + this.DrugPrice + '</td>'
                            + '<td>' + this.DrugSelling + '</td>'
                            + '</tr>'
                        $("#td").append(line);
                    })
                }
            })
        }

        //全选和反选(药品表)
        function xuan() {
            if ($(".top").prop("checked")) {
                $(".cktop").prop("checked", true);
            }
            else {
                $(".cktop").each(function () {
                    this.checked = !this.checked;
                })
            }
        }
        //绑定处方类别
        function DrugTypeBandsel() {
            $.ajax({
                url: 'http://localhost:65510/api/DrugType/Get',
                type: 'get',
                dataType: 'json',
                success: function (d) {
                    $("#DrugTypeId").empty();
                    $("#DrugTypeId").append("<option value=''>==请选择==</option>");
                    $(d).each(function () {
                        var opt = "<option value='" + this.Id + "'>" + this.DrugTypeName + "</option>";
                        $("#DrugTypeId").append(opt);
                    })
                    DrugShow(1);
                }
            })
        }


        //选中药品添加到出库存
        function OutDrugRepertoryAdd() {
            var ids = [];
            $(".cktop:checked").each(function () {
                ids.push(this.value);
            });
            if (ids.length == 0) {
                alert("请选择药品");
                return;
            }
            $.ajax({
                url: 'http://localhost:65510/api/OutDrugRepertory/Post',
                type: 'post',
                data: { Id: ids.toString() },
                //data: JSON.stringify(ids),
                dataType: 'json',
                success: function (d) {
                    if (d > 0) {
                        alert("添加药品成功");
                        location.href = '/Repertory/OutRepertoryAdd';

                    }
                    else {
                        alert("添加药品失败");
                    }
                }
            })

        }
        //显示药品入库信息
        function OutDrugRepertoryShow() {
            $.ajax({
                url: 'http://localhost:65510/api/OutDrugRepertory/Get',
                type: 'get',
                dataType: 'json',
                success: function (d) {

                    $("#DrugShow").empty();
                    $(d).each(function () {
                        var line = '<tr>'
                            + '<td><input class="cktop2" type="checkbox" value=' + this.Id + ' /></td>'
                            + '<td>' + this.DrugNumber + '</td>'
                            + '<td>' + this.DrugName + '</td>'
                            + '<td>' + this.DrugPrice + '</td>'
                            + '<td>' + this.DrugSelling + '</td>'
                            + '<td>' + this.ManufacturersName + '</td>'
                            + '<td>' + this.DrugCount + '</td>'
                            + '<td>' + this.DrugCreateTime + '</td>'
                            + '<td>' + this.DrugTypeName + '</td>'
                            + '<td><input id="Button1" class="info-close" type="button" style="color:blue" value="×" onclick=OutDrugRepertoryDel(' + this.Id + ') /></td>'
                            + '</tr>'
                        $("#DrugShow").append(line);
                        //采购金额合计
                        var sum1 = 0;
                        var tableId = document.getElementById("tab");
                        for (var i = 0; i < tableId.rows.length; i++) {
                            var a = Number(tableId.rows[i].cells[3].innerHTML) || 0;
                            sum1 += a;
                        }
                        var demoP = document.getElementById("DrugPriceSum");
                        demoP.innerHTML = + sum1;
                        //零售金额合计
                        var sum2 = 0;
                        var tableId = document.getElementById("tab");
                        for (var i = 0; i < tableId.rows.length; i++) {
                            var a = Number(tableId.rows[i].cells[4].innerHTML) || 0;
                            sum2 += a;
                        }
                        var demoP = document.getElementById("DrugSellingSum");
                        demoP.innerHTML = + sum2;
                    })
                }
            })
        }

        //删除药品入库信息
        function OutDrugRepertoryDel(Id) {
            if (confirm("确认要删除吗？")) {
                $.ajax({
                    url: 'http://localhost:65510/api/OutDrugRepertory/Delete/' + Id,
                    type: 'Post',
                    data: { Id: Id },
                    dataType: 'json',
                    success: function (d) {
                        if (d > 0) {
                            alert('删除成功');
                            OutDrugRepertoryShow();
                        }
                        else {
                            alert('删除失败');
                        }
                    }
                })
            }
        }
        //全选和反选(药品入库信息)
        function xuan2() {
            if ($(".top2").prop("checked")) {
                $(".cktop2").prop("checked", true);
            }
            else {
                $(".cktop2").each(function () {
                    this.checked = !this.checked;
                })
            }
        }
        //直接入库
        function RepertoryAdd() {
            var ids = [];
            $(".cktop2:checked").each(function () {
                ids.push(this.value);
            });
            if (ids.length == 0) {
                alert("请选择药品");
                return;
            }
            var obj = {};
            obj.RepertoryNumber = $("#RepertoryNumber").val();
            obj.RepertoryTime = $("#RepertoryTime").val();
            obj.RoleId = $("#RoleName").val();
            obj.RepertoryTypeId = $("#RepertoryTypeName").val();
            obj.ManufacturersId = $("#ManufacturersName").val();
            obj.RepertoryNumber = $("#RepertoryNumber").val();
            obj.Remark = $("#Remark").val();
            obj.DrugRepertoryId = ids;

            $.ajax({
                url: 'http://localhost:65510/api/Repertory/Post',
                type: 'post',
                data: obj,
                dataType: 'json',
                success: function (d) {
                    if (d > 0) {
                        alert('药品入库成功');
                        location.href = '/Repertory/RepertoryShow';
                    }
                    else {
                        alert('药品入库失败');
                    }
                }
            })
        }

        //新增入库提交审核
        function RepertoryAddStatus() {
            var ids = [];
            $(".cktop2:checked").each(function () {
                ids.push(this.value);
            });
            if (ids.length == 0) {
                alert("请选择药品");
                return;
            }
            var obj = {};
            obj.RepertoryNumber = $("#RepertoryNumber").val();
            obj.RepertoryTime = $("#RepertoryTime").val();
            obj.RoleId = $("#RoleName").val();
            obj.RepertoryTypeId = $("#RepertoryTypeName").val();
            obj.ManufacturersId = $("#ManufacturersName").val();
            obj.RepertoryNumber = $("#RepertoryNumber").val();
            obj.Remark = $("#Remark").val();
            obj.DrugRepertoryId = ids;

            $.ajax({
                url: 'http://localhost:65510/api/RepertoryAddStatus/Post',
                type: 'post',
                data: obj,
                dataType: 'json',
                success: function (d) {
                    if (d > 0) {
                        alert('药品入库成功');
                        location.href = '/Repertory/RepertoryShow';
                    }
                    else {
                        alert('药品入库失败');
                    }
                }
            })
        }
    </script>
}

